{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="text-center">
        <p>{% trans "To see source code visit GitHub" %}</p>
        <a href="" class="list-group-item"><img src="/static/img/github.png"></a>
    </div>
{% endblock %}
{% block sidebar %}
    <p class="text-center">{% trans "This service created for people who want see their friends on map." %}</p>
    <div class="jumbotron">
    <p class="text-center">{% trans "Author"%}</p>
    <a href="https://www.facebook.com/Infernion"class="list-group-item text-center"><img src="/static/img/fb.png"></a> <br />
    <a href="vk.com/infernion" class="list-group-item text-center"><img src="/static/img/vk.png"></a> <br />
    </div>
{% endblock %}
<div id="result"></div>
