{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block scripts %}
<script type="text/javascript">
       $(document).ready(function() {
{#           var json1 = {{ friends|safe }};#}
{#           $.each(json1, function(key, data) {#}
{#               console.log(data.current_location.latitude);#}
{#               addMarker("{{ data.current_location.latitude }}",#}
{#                        "{{ data.current_location.longitude }}",#}
{#                        "{{ data.friends.name }}",#}
{#                        "{{ data.friends.current_location.name }}",#}
{#                        "{{ data.friends.pic_square }}")#}
{#               });#}
           addMarker("-82.471829", "-118.857425", "test", "Kiev", "http://cs417317.vk.me/v417317365/c921/wN8DBbo0PdI.jpg")
       });

{#        $.getJSON("", function(json1) {#}
{#          $.each(json1, function(key, data) {#}
{#          var latLng = new google.maps.LatLng(data.current_location.latitude, data.longitude);#}
{#          console.log(data.current_location.latitude)#}
{#            /*Creating info window and show after click on marker*/#}
{#            var contentString = '<div id="content">'+#}
{#              '<div id="siteNotice">'+#}
{#              '</div>'+#}
{#              '<p>'+ data.name +'</p>'+#}
{#              '<div id="bodyContent">'+#}
{#              '<img src="'+ data.photo +'">'+#}
{#              '<p>'+ data.current_location.name +'</p>'+#}
{#              '<href="http://vk.com/id'+ data.uid + '">'+#}
{#              '</div>'+#}
{#              '</div>';#}
{#            var infowindow = new google.maps.InfoWindow({#}
{#                content: contentString#}
{#            });#}
{#              /* Creating a marker and putting it on the map*/#}
{#            var marker = new google.maps.Marker({#}
{#                position: latLng,#}
{#                title: data.name,#}
{#                title: "test",#}
{#            });#}
{#            marker.setMap(map);#}
{##}
{#            google.maps.event.addListener(marker, 'click', function() {#}
{#                infowindow.open(map,marker);#}
{#            });#}
{#         // });#}
{#        });#}
{#      });#}
</script>
{% endblock %}

{% block sidebar %}
<p>{% trans "You are logged" %} in as {{ user.username }}!</p>
<img class="thumbnail" src="{{ user_model.extra_data.user_info.pic_big }}" alt="">
<p>{% trans "Name"%}: {{ user_model.extra_data.user_info.name }}</p>
<p>{% trans "You are from"%}: {{ user_model.extra_data.user_info.current_location.name }} </p>
 {% if backends.associated %}
<p>{% trans "Associated"%}:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      {{ assoc.provider }} (<a href="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" class="disconnect">Disconnect</a>)
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if backends.not_associated %}
<p>{% trans "Associate"%}:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{% url 'social:begin' name %}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}

<div id="result"></div>
{% endblock %}

{% block head_scripts %}

<script type="text/javascript">
  var signInCallback = function (result) {
      if (result['error']) {
        alert('An error happened:', result['error']);
      } else {
        $('#code').attr('value', result['code']);
        $('#at').attr('value', result['access_token']);
        $('#google-plus').submit();
      }
  };
</script>
{% endblock %}


