{% extends "base.html" %}
{% load url from future %}

{% block sidebar %}
<p>You are logged in as {{ user.username }} {{ vk_uid }}!</p>

<p>Associated:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      {{ assoc.provider }} (<a href="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" class="disconnect">Disconnect</a>)
    </li>
  {% endfor %}
</ul>

<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{% url 'social:begin' name %}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>

{% if vk_uid %}
<div id="signinButton">
  <span class="vk-signin"data-clientid="{{ vk_uid }}"
                         data-redirecturi="postmessage"
                         data-accesstype="offline"
                         data-cookiepolicy="single_host_origin"
                         data-callback="signInCallback">
  </span>
</div>
<div id="result"></div>
{% endblock %}

{% block head_scripts %}

<script type="text/javascript">
  var signInCallback = function (result) {
      if (result['error']) {
        alert('An error happened:', result['error']);
      } else {
        $('#code').attr('value', result['code']);
        $('#at').attr('value', result['access_token']);
        $('#google-plus').submit();
      }
  };
</script>
{% endblock %}
