{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block sidebar %}
<a href="{% url 'social:begin' "facebook" %}"class="list-group-item"><img src="/static/img/fb.png"> {% trans "Login in with Facebook account" %}</a> <br />
<a href="{% url 'social:begin' "vk-oauth2" %}" class="list-group-item"><img src="/static/img/vk.png"> {% trans "Login in with VK account" %} </a> <br />
{#    {% get_current_language as LANGUAGE_CODE %}#}
{#    {{ LANGUAGE_CODE }}#}
{#    <p>{% trans "Home" %}</p>#}
{##}
{#    {% language 'en' %}#}
{#    {% get_current_language as LANGUAGE_CODE %}#}
{#    <!-- Current language: {{ LANGUAGE_CODE }} -->#}
{#    <p>{% trans "Friends on Map" %}</p>#}
{#{% endlanguage %}#}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var signInCallback = function (result) {
      if (result['error']) {
        alert('An error happened:', result['error']);
      } else {
        $('#code').attr('value', result['code']);
        $('#at').attr('value', result['access_token']);
        $('#google-plus').submit();
      }
  };
</script>
{% endblock %}
